

body {
    margin: 0;
    background-color: rgb(167, 156, 255);
    color: darkgreen;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container {
    background-color: rgb(155, 251, 251);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    font-size: 1.5rem;

    padding: 20px;
    width: 85%;
    max-width: 400px;
    text-align: center;
}

.heading {
    margin: 5px;
    font-size: 3rem;
}

.rating img {
    width: 40px;
}