@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
    --color-light-50: #f8fafc;
    --color-dark-50: #797974;
    --color-dark-100: #312d37;
    --color-dark-50: #000;

    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #d56dfe;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200))

}