:root {
    --purple: #41045B;
    --lilac: #A085EC;
    --blue-light-50: #C2D4E5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--blue-light-50);
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -23px;
}
.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel{
    white-space: nowrap;
    font-size: 0px;
    overflow: hidden;
    cursor: pointer;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    width: calc(100% / 3);
}

.carouselimg:first-child{
    margin-left: 0px;
}