@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    font-family: 'open sans', sans-serif;
}

body {
    background: gray;
}

.max-width {
    max-width: 500px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    margin-top: 20px;
}

button {
    padding: 10px;
    border: none;
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    border-radius: 25px;
}
button:hover {
    background-color: #a1c0d1;
}

.bg-green {
    background-color: rgb(70, 200, 70);
}
.bg-red {
    background-color: rgb(204, 79, 79);
}
.bg-yellow {
    background-color: rgb(202, 202, 0);
}
